<h1>Editer un restaurant</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= simple_form_for @restaurant do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.label :chef %>
      <%= f.text_field :chef %>
      <%= f.label :stars %>
      <%= f.text_field :stars %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
   <%= link_to "retour", restaurants_path %>
</div>
